* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: #121417;
}

.caixa {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caixa .cartao {
  background-color: hsla(213deg, 19%, 18%, 0.6);
  width: 88%;
  max-width: 41rem;
  border-radius: 1.5rem;
  padding: 2.5rem;
}
.caixa .cartao .estrela {
  background-color: hsla(216deg, 12%, 54%, 0.2);
  width: 4rem;
  height: 4rem;
  padding: 1.2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caixa .cartao .estrela img {
  width: 1.4rem;
}
.caixa .cartao .titulo {
  font-size: 2.4rem;
  color: hsl(0deg, 0%, 100%);
  margin-top: 1.9rem;
}
.caixa .cartao .texto {
  color: hsl(217deg, 12%, 63%);
  font-size: 1.415rem;
  line-height: 2.2rem;
  margin-top: 1.2rem;
}
.caixa .cartao .caixa-votos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.caixa .cartao .caixa-votos .botao-voto {
  color: hsl(217deg, 12%, 63%);
  font-size: 1.4rem;
  font-weight: 700;
  background-color: hsla(216deg, 12%, 54%, 0.2);
  width: 4.1rem;
  height: 4.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 2.6rem;
}
.caixa .cartao .caixa-votos .botao-voto div {
  transform: translateY(20%);
}
.caixa .cartao .caixa-votos .botao-voto:hover {
  background-color: hsl(25deg, 97%, 53%);
  cursor: pointer;
}
.caixa .cartao .caixa-votos .botao-voto:hover div {
  color: hsl(0deg, 0%, 100%);
}
.caixa .cartao .caixa-votos .active {
  background-color: hsl(217deg, 12%, 63%);
}
.caixa .cartao .caixa-votos .active div {
  color: hsl(0deg, 0%, 100%);
}
.caixa .cartao .botao-enviar {
  background-color: hsl(25deg, 97%, 53%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  padding: 1.3rem;
  border-radius: 4rem;
}
.caixa .cartao .botao-enviar div {
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.caixa .cartao .botao-enviar:hover {
  background-color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.caixa .cartao .botao-enviar:hover div {
  color: hsl(25deg, 97%, 53%);
  font-weight: 700;
}
.caixa .cartao .conteudo-cartao-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caixa .cartao .conteudo-cartao-2 img {
  width: 14.5rem;
}
.caixa .cartao .conteudo-cartao-2 .resultado {
  background-color: hsla(216deg, 12%, 54%, 0.2);
  padding: 0.8rem 1.4rem;
  border-radius: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 0.6rem;
}
.caixa .cartao .conteudo-cartao-2 .resultado div {
  color: hsl(25deg, 97%, 53%);
  font-size: 1.4rem;
}
.caixa .cartao .conteudo-cartao-2 .texto {
  text-align: center;
  margin-bottom: 1.5rem;
}
.caixa .cartao .hide {
  display: none;
}

@media screen and (min-width: 1440px) {
  .caixa .cartao {
    padding: 3rem;
    border-radius: 3rem;
  }
  .caixa .cartao .star {
    width: 5rem;
    height: 5rem;
  }
  .caixa .cartao .star img {
    width: 1.7rem;
  }
  .caixa .cartao .titulo {
    margin-top: 3.5rem;
    font-size: 2.77rem;
  }
  .caixa .cartao .texto {
    margin-top: 0.9rem;
    line-height: 2.4rem;
    font-size: 1.505rem;
  }
  .caixa .cartao .caixa-votos .botao-voto {
    width: 5.1rem;
    height: 5.1rem;
    font-size: 1.6rem;
  }
  .caixa .cartao .caixa-votos .botao-voto div {
    transform: translateY(0);
  }
  .caixa .cartao .botao-enviar {
    margin-top: 3.2rem;
  }
}/*# sourceMappingURL=styles.css.map */